$blue: #00205D
$gray: #C6C6C6
$brown: #654313
$yellow: #EDD312
$green: #169b31
$red: #b41959
$yellow_light: #FFE83C
$green_light: #5FFF71
$red_light: #FF4091

@function width_mobile($val, $width: 392)
  @return calc($val / $width * 100)

@function height_mobile($val, $height: 840)
  @return calc($val / $height * 100)

.red
  color: $red

.green
  color: $green

.gray
  color: $gray

.brown
  color: $brown

.red_back
  background-color: $red

.transparent_back
  background-color: transparent

.green_back
  background-color: $green

.gray_back
  background-color: $gray

.brown_back
  background-color: $brown

=serif
  font:
    family: "Noto Serif JP", serif
    optical-sizing: auto
    weight: 500
    style: normal

=sans
  font:
    family: "Noto Sans JP", serif
    optical-sizing: auto
    weight: 500
    style: normal

=header_mobile
  width: 80%
  position: relative
  left: 10%
  color: $gray
  padding-bottom: 5vh
  z-index: -1
  .belt
    width: 200%
    height: 15vh
    position: absolute
    //top: -50px
    left: -40%
    transform: rotate(30deg)
    border-bottom: none
    z-index: -1

=nav
  // default
  #menu
    width: 100vw
    height: 100vh
    overflow: hidden
    position: fixed
    top: 531vw
    left: 0vw
    z-index: 90
    transition: 0.7s ease-out
    background-image: url("../img/background.png")
    background-size: cover
    img
      position: relative
      top: height_mobile(15vh)
      height: height_mobile(60vh)
      margin-left: width_mobile(40vw)
      margin-top: height_mobile(60vh)
      display: block
      //transform: rotate(0.04turn)

  .menu_circle
    width: width_mobile(80vw)
    height: width_mobile(80vw)
    position: absolute
    background-color: $brown
    top: width_mobile(25vw)
    left: width_mobile(25vw)
    border-radius: 50%
    z-index: -1

  input[type="checkbox"]
    display: none
  label
    width: width_mobile(80vw)
    height: width_mobile(80vw)
    position: fixed
    bottom: width_mobile(40vw)
    right: width_mobile(30vw)
    border-radius: 50%
    background-color: $blue
    cursor: pointer
    box-shadow: 5px 10px 10px $gray
    z-index: 99
    transition: 0.7s ease-out
    img
      width: width_mobile(70vw)
      height: width_mobile(70vw)
      position: absolute
      top: width_mobile(5vw)
      left: width_mobile(5vw)
      right: width_mobile(5vw)
      bottom: width_mobile(5vw)
      margin: auto
    div::before, div::after
      content: ""
      transition: 0.7s ease-out
  .menu_animation_left
    transform: translateX(-28vw) translateY(-20vw) rotate(0.04turn) 
  .menu_animation_right
    transform: translateX(28vw) translateY(20vw) rotate(0.04turn)

  // checked
  input[type="checkbox"]:checked ~
    #menu
      top: 0
      .menu_animation_left
        transform: translateX(0vw) translateY(0vw) rotate(0.04turn) 
        transition: 1.1s ease-in
      .menu_animation_right
        transform: translateX(0vw) translateY(0vw) rotate(0.04turn) 
        transition: 1.1s ease-in

    label
      box-shadow: none
      background-color: $gray
      img
        opacity: 0
      div::before, div::after
        background-color: $blue
        width: 70%
        height: 0.5vw
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        margin: auto
        content: ""
      div::before
        transform: rotate(-45deg)
      div::after
        transform: rotate(45deg)

=main_mobile
  // height: 200vh
  background-image: url("../img/background.png")
  background-size: contain
  padding-top: 50px
  padding-bottom: 10vh
  overflow: hidden
  z-index: 0
  position: relative
  section
    width: 80%
    margin-left: 10%
    margin-bottom: 10vh
    color: $gray
    h1
      font-size: 24px
    p
      font-size: 16px
      line-height: 26px
      margin: 8px 0px 16px 0px
      text-align: justify
    ul
      margin-top: 8px
    li
      font-size: 16px
      line-height: 26px
      list-style: none
    a
      border-bottom: 1px solid $gray
    img
      width: 100%
      margin: 10px 0px
  
  .button
    padding: 10px
    display: block
    text-align: center
    vertical-align: middle
    width: 80%
    margin: auto
    padding: 5px 20px
    font-weight: bold
    border-radius: 3px
    color: $gray
    border: 1px solid $gray
    box-shadow: 3px 3px $gray
    transition: 0.3s ease-in-out
    h1
      font-size: 20px

=footer_mobile
  padding: 5vh
  background-color: $blue
  color: $gray
  h1
    font-size: 15px
  p
    font-size: 12px
    margin-top: 15px



body
  background-image: url("../img/background.jpg")
  background-attachment: fixed

*
  padding: 0px
  margin: 0px

h1, h2, h3, h4, h5, h6, p, li, a
  +sans

a
  text-decoration: none
  // border-bottom: 2px solid $yellow
  color: $gray

