@import "util"
@import "utilpc"

@media screen and (min-width: 960px)
  $width: 1280
  $height: 800

  body
    +body_pc

  header
    +header_pc

  nav
    display: none

  aside
    +aside

  main
    +main_pc
    
  footer
    +footer_pc

@media screen and (max-width: 960px)
  $width: 392
  $height: 840

  nav
    +nav

  header
    +header_mobile

  aside
    display: none

  main
    +main_mobile
    z-index: 0
    #time
      padding-top: 3vw
      padding-bottom: 5vw
      width: 50%
      float: left
      button
        margin-right: 5vw
    #place
      padding-top: 3vw
      padding-bottom: 5vw
      width: 50%
      float: left
      button
        margin-left: 5vw
    #time_place:after
      content: ""
      display: block
      clear: both
    button
      background-color: transparent
      text-align: center
      vertical-align: middle
      width: 35vw
      margin: 2vw 0vw
      padding: 1vw 0vw
      font-weight: bold
      border-radius: 0.7px
      color: $gray
      border: 1px solid $gray
      box-shadow: 0.7vw 0.7vw $gray
      transition: 0.3s ease-in-out
      font-size: 20px

  .projects
    margin-top: 5vw
    input[type="checkbox"]
      display: none
    label
      width: 80vw
      height: 50vw
      margin-bottom: 10vw
      //background-color: $gray
      display: block
      border-radius: 3px
      color: $gray
      border: 1px solid $gray
      box-shadow: 3px 3px $gray
    .project_img
      height: 17vw
      width: 17vw
      position: relative
      top: 3vw
      left: 3vw
      margin: 0
    .project_title
      position: relative
      top: -14vw
      left: 23vw
      width: 55vw
      height: 14vw
      h1
        font-size: 6vw
        line-height: 7vw
    .project_time_place
      display: flex
      position: relative
      top: -10vw
      left: 2vw
      img
        height: 3vw
        width: auto
        margin: 0.5vw 1vw 0.5vw 1.5vw
      h2
        font-size: 3vw
        line-height: 3.5vw
        display: block
    .project_txt
      width: 74vw
      position: relative
      top: -10.5vw
      left: 3vw
      p
        font-size: 3vw
        line-height: 3.5vw

    .res
      display: none

    // checked
    input[type="checkbox"]:checked ~
      // .project_title, .project_img, .project_time_place, .project_txt
      .project_title
        display: none
      label
        width: 100vw
        height: 100vh
        background-color: black
        opacity: 0.8
        margin: 0px
        display: block
        border-radius: 0
        border: 0px
        box-shadow: 0px 0px
        position: fixed
        top: 0
        left: 0
        transition: 0.7s ease-out
      $top: 8.8vw
      .res
        display: block
        width: 80vw
        height: 112vw
        z-index: 99
        background-image: url(../img/back2.png)
        background-size: 100%
        color: black
        position: fixed
        top: 10vw
        left: 10vw
        font:
          family: "noto-bold", sans-serif
          weight: 600
          style: normal
        img
          width: 56vw
          margin: 1.6vw 12vw
        .large_head
          margin: 0vw 8vw 0vw 8vw
          position: relative
          top: $top
        .large_head_left
          display: block
          float: left
          width: 50%
          text-align: center
          h1
            font-size: 5.12vw
        .large_head_right
          display: block
          float: right
          width: 50%
          text-align: center
          margin-top: 0.48vw
          //height: 58px
          h1
            font-size: 4vw
        .large_head:after
          content: ""
          display: block
          clear: both
        .large_nm
          width: 100%
          text-align: center
          position: relative
          top: $top
          h1
            font-size: 5.92vw
        .large_img
          width: 100%
          position: relative
          top: $top
        .large_txt
          width: 64vw
          margin: 0px 8vw
          position: relative
          top: $top
          p
            font-size: 2.88vw
            line-height: 1.5
            margin: 0


  footer
    +footer_mobile