@import "util"
@import "utilpc"

@media screen and (min-width: 960px)
  $width: 1280
  $height: 800

  nav
    display: none

@media screen and (max-width: 960px)
  $width: 392
  $height: 840

  header
    +header_mobile

  #year
    animation: fill 3s linear infinite
    stroke: #3bff59
    fill: none

  @keyframes fill
    0%
      fill-opacity: 0
      fill: transparent
    70%
      fill-opacity: 1
      fill: transparent
    85%
      fill-opacity: 1
      fill: $green_light
    100%
      fill-opacity: 1
      fill: $green_light

  nav
    +nav

  aside
    display: none